<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291562557089-ulmkmkhlrde1sc2rqall4c6skdno5nh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291562557089-ulmkmkhlrde1sc2rqall4c6skdno5nh6</string>
	<key>API_KEY</key>
	<string>AIzaSyBhVMWmkF8wqF2Y1bj0npBeobfll8hts9g</string>
	<key>GCM_SENDER_ID</key>
	<string>291562557089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelheinzman.swipeanddine</string>
	<key>PROJECT_ID</key>
	<string>foodr-388417</string>
	<key>STORAGE_BUCKET</key>
	<string>foodr-388417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291562557089:ios:04304b2ae72e5f65926ae0</string>
</dict>
</plist>